<!DOCTYPE html>

<html>

    <head>

        <meta name="description" content="Online portfolio for web developer and designer Matt Sedlar">

        <meta name="author" content="Matthew Sedlar">

        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Matt Sedlar.net</title>

        <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
        <link href="styles/styles.css" rel="stylesheet"/>

    </head>

    <body>
    <script id="moduleTemplate" type="text/template">
        <h3><%= title %></h3>
        <figure class='crop'>
		  <img data-id='<%= id %>' src='<%= image %>' />
	    </figure>
        <p><%= description %></p>
    </script>

        <header>
            <div id="header_content" class="group">
                <div id="title"><a href="http://mattsedlar.net">Matt Sedlar</a></div>
                <nav>
                    <ul class="nav">
                        <li><a href="#web">Web</a></li>
                        <li><a href="#analysis">Analysis</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <main>
	    <section id="home"></section>
            <section id="analysis" class="group">
        		<h1>ANALYSIS</h1>
                <p>Methods of Commuting by State, Income Group, <a target="blank" href="https://sedlarm.shinyapps.io/crs-project">Application</a> | <a target="blank" href="http://mattsedlar.github.io/DevDataProd_Presentation/index.html">Presentation</a>, September 2015</p>
        		<p><a target="blank" href="http://rpubs.com/sedlarm/Stat-Inference-Course-Project-Part-2">Basic Inferential Analysis of Data on Vitamin C and Tooth Length in Guinea Pigs</a>, RPubs, September 2015</p>
                <p><a target="blank" href="http://rpubs.com/sedlarm/Best-Of-Bay-2014-15-Nominations">How Top Nominations for SFCV's 2014-15 Best of Bay Poll Were Decided</a>, RPubs, August 2015</p>
                <p><a target="blank" href="http://rpubs.com/sedlarm/RepData_PeerAssessment2">Floods and Tornadoes Cause The Most Harm to Economy, Public Health in the U.S.</a>, RPubs, August 2015</p>
	       </section>
            <section id="web" class="group">
                <h1>WEB</h1>
            </section>

            <footer>

                <ul id="social-media">
                    <li id="git"><a href="https://github.com/mattsedlar" target="_blank"></a></li>
                    <li id="twitter"><a href="http://twitter.com/mattslar" target="_blank" id="twitter"></a></li>
                    <li id="linkedin"><a href="http://www.linkedin.com/pub/matthew-sedlar/7a/112/5a3/en" target="_blank" id="linkedin"></a></li>
                    <li id="email"><a href="#"></a></li>
                </ul>

            </footer>

        </main>

            <div class="feature_image">
                <figure>
                    <img src="" alt="Featured Image"/>
                </figure>
            </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript">
            if (!window.jQuery) document.write('<script type="text/javascript" src="js/jquery.min.js"><\/script>');
            $(document).ready( function() {
               $("li#email").on("click", function() {
                    var e = "sedlar";
                    var f = "m";
                    var a = "@";
                    var d = "gmail";
                    var c = ".com";
                    var h = 'mailto:' + e + f + a + d + c;
                   $(this).children('a').attr('href',h);
               });
            });
        </script>
        <script src="js/underscore.js"></script>
        <script src="js/backbone.js"></script>
        <script src="js/app-model.js"></script>
        <script src="js/app-view.js"></script>
        <script src="js/app-routes.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-59664113-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>

</html>
